name: Release

permissions:
  id-token: write # Required for OIDC
  contents: write

on:
  push:
    tags:
      - 'v*'
  workflow_call:
    inputs:
      github-release:
        required: false
        type: boolean
        default: true
      publish:
        required: false
        type: boolean
        default: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-wasip1

      - uses: actions/cache@v4
        name: Cache cargo registry
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - uses: actions/cache@v4
        name: Cache cargo build
        with:
          path: target/
          key: ${{ runner.os }}-cargo-build-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-build-

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Publish to NPM
        if: ${{ inputs.publish }}
        run: pnpm -r publish --access public --no-git-checks

      - name: Generate changelog
        run: npx changelogithub
        if: ${{ inputs.github-release }}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
